<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
          R-1.0.0
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="accordion-body">
            <h3>R-1.0.0 Notas de Lançamento</h3>
            <p>Estamos orgulhosos de anunciar o lançamento da versão 1.0.0 de nossa aplicação, que inclui novas
              funcionalidades e melhorias significativas.</p>

            <h4>Funcionalidades Iniciais</h4>
            <ul><br><br>
              <li>
                <strong><a href="https://metodologia-agil.com.br/simulado" target="_blank">Simulado:</a></strong>
                Estamos felizes em lançar o nosso recurso de simulado, uma ferramenta essencial para a preparação para a
                certificação PSM (Professional Scrum Master). Nesta primeira versão, o simulado apresenta um total de
                200 questões, cuidadosamente selecionadas para abordar os tópicos mais importantes do exame PSM. Quando
                um usuário responde a uma pergunta incorretamente, nosso sistema fornece uma explicação detalhada para
                ajudar a entender o conceito e o motivo do erro. Além disso, o nosso simulado possui uma funcionalidade
                inteligente que registra os erros e, na próxima vez que o usuário realizar o simulado, as perguntas que
                foram respondidas incorretamente serão apresentadas novamente, proporcionando uma oportunidade de
                aprendizado contínuo e reforçando o conhecimento dos usuários.
              </li>
              <br>
              <li>
                <strong><a href="https://metodologia-agil.com.br/dictionary" target="_blank">Dicionário:</a></strong> A
                versão 1.0.0 traz um novo recurso de dicionário, contendo 200 termos relacionados à metodologia Scrum.
                Cada termo é acompanhado por uma definição clara e concisa, fornecendo uma valiosa fonte de consulta e
                aprendizado para nossos usuários.
              </li>
              <br>
              <li>
                <strong><a href="https://metodologia-agil.com.br" target="_blank">Posts:</a></strong> Para complementar
                nossos novos recursos, lançamos 10 posts em nosso blog, cobrindo uma ampla gama de tópicos. Os posts são
                escritos por nossos especialistas e convidados especiais, oferecendo uma perspectiva única e insights
                valiosos sobre vários tópicos.
              </li>
              <li>
                <p>Estamos extremamente animados com este lançamento e ansiosos para ver como nossas novas
                  funcionalidades irão beneficiá-lo. Seu feedback será muito importante para continuarmos aprimorando e
                  desenvolvendo nossa aplicação. Muito obrigado por embarcar nesta jornada conosco!</p>
              </li>
              <br>
            </ul>
            <p>Agradecemos seu apoio e contamos feedback contínuo e valiosos. Estamos ansiosos para continuar melhorando
              nossa aplicação para você!</p>
          </div>
        </div>
      </div>
    </div><div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
          R-1.1.0 Laçamento 01/08/2023
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="accordion-body">
            <h3>R-1.1.0 Notas de Lançamento</h3>
            <p>Novas funcionalidades e melhorias que serão incluídas na proxima versão da nossa aplicação.</p>
            <h4>Novas Funcionalidades</h4><br><br>
            <ul>
              <li>
                <strong><a href="https://metodologia-agil.com.br/simulado" target="_blank">Simulado:</a></strong> Ampliamos nosso recurso de simulado para a certificação PSM (Professional Scrum Master). O simulado contara com 600 questões meticulosamente selecionadas para cobrir os tópicos mais importantes do exame PSM. Adicionalmente, implementaremos uma opção para enviar por email ou baixar um PDF com o resultado do simulado, incluindo explicações detalhadas para as respostas incorretas. Além disso, apresentamos duas versões do simulado: uma gratuita e uma paga, para atender a diferentes necessidades de aprendizado.
              </li><br>
              <li>
                <strong><a href="https://metodologia-agil.com.br/dictionary" target="_blank">Dicionário:</a></strong> Ampliamos nosso dicionário com a adição de novos termos, cada um acompanhado de uma definição detalhada para facilitar a compreensão e aplicação.
              </li><br>
              <li>
                <strong>Dicas para Agilistas:</strong> Introduziremos uma nova página com dicas de materiais para agilistas, incluindo recomendações de cursos, livros e tutoriais. Essas dicas podem ajudar a aprofundar o conhecimento e habilidades no campo da agilidade.
              </li><br>
            </ul>

            <h4>Melhorias</h4>
            <ul><br><br>
              <li>
                <strong>Interface de Usuário:</strong> Continuamos aprimorando nossa interface de usuário para torná-la mais intuitiva e fácil de usar. A navegação pela aplicação e a busca de informações tornaram-se ainda mais simples.
              </li>
              <li><br>
                <strong>Desempenho:</strong> Focamos em melhorar o desempenho da nossa aplicação, otimizando a velocidade de carregamento das páginas para uma experiência de usuário mais suave.
              </li><br>
              <li>
                <strong>Correção de bugs:</strong> Efetuamos melhorias gerais para corrigir bugs identificados na versão anterior, aprimorando a estabilidade e confiabilidade da aplicação.
              </li>
            </ul><br>

            <h4>Em Breve</h4>
            <ul><br><br>
              <li>
                <strong>Novidades:</strong> Estamos trabalhando em diversas novidades e melhorias que serão implementadas nas próximas versões menores, antecedendo o lançamento da R-2.0.0. Fique atento!
              </li>
            </ul><br>

            <p>Contamos com o seu feedback para continuarmos aprimorando nossa aplicação. Seus comentários são muito valiosos para nós!</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
