<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
<div class="form-group">
    <label for="title">Título</label>
    <input type="text" class="form-control" id="title" formControlName="title" placeholder="Digite o título">
  </div>

  <textarea id="summernote" type="text" class="form-control" name="post"
            placeholder="Texto *"></textarea>

  <div class="form-group">
    <label for="description">Descrição</label>
    <input type="text" class="form-control" id="description" formControlName="description" placeholder="Digite a descrição" maxlength="300">
  </div>

  <div class="form-group">
    <label for="img">Imagem</label>
    <input type="file" class="form-control-file" id="img" (change)="onFileSelected($event)">
  </div>

  <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text" class="form-control" id="tags" formControlName="tags" placeholder="Digite as tags separadas por vírgulas">
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid || !selectedFile">Criar Post</button>
</form>
