<div class="container-postDetails" *ngIf="post">
  <!-- Espaço reservado para o anúncio do Google AdSense -->
  <div class="ad-container">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5280935303207200"
            crossorigin="anonymous"></script>
    <!-- pequeno -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5280935303207200"
         data-ad-slot="6391451595"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
    <article>
    <img class="mr-3 img-card-Post" [src]="'data:image/jpeg;base64,' + post.imgCover" [alt]="post.alt || 'Imagem do post'">

    <h1 class="card-title h1-postDetails">
      <span>{{ post?.title }}</span>
    </h1>
    <div class="d-flex justify-content-between align-items-start">
      <div>
        <p class="card-subtitle mb-2 text-muted">
          <i class="">Autor: </i>
          <span>{{ post?.author }}</span>
          <br>
          <i class="">Data de criação: </i>
          <span>{{ formatData(post?.creationDate) }}</span>
        </p>
      </div>
      <div>
        <h5>Compartilhe:</h5>
        <app-share-buttons [title]="post?.title" [url]="currentUrl"></app-share-buttons>
      </div>
    </div>

    <section>
      <!-- Espaço reservado para o anúncio do Google AdSense -->
      <div class="ad-container">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5280935303207200"
                crossorigin="anonymous"></script>
        <!-- simulado -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5280935303207200"
             data-ad-slot="1330696608"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <p class="card-post">
        <span [innerHTML]="post?.post" (click)="onContentClick($event)"></span>
      </p>
      <p>
        <a *ngFor="let tag of post.tags" class="tag-link" (click)="onTagClick(tag)" [textContent]="'#' + tag">{{ tag }}</a>
      </p>
    </section>

  </article>

</div>
