<div class="container page-wrapper" *ngIf="post">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/">Posts</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ post?.title }}</li>
    </ol>
  </nav>
  <article>
    <h1 class="card-title h1-postDetails">
      <span>{{ post?.title }}</span>
    </h1>
    <p class="card-subtitle mb-2 text-muted">
      <i class="">Autor: </i>
      <span>{{ post?.author }}</span>
      <br>
      <i class="">Data de criação: </i>
      <span>{{ formatData(post?.creationDate) }}</span>
    </p>
    <section>
      <p class="card-text" style="margin-top: 40px;">
        <span [innerHTML]="post?.post"></span>
      </p>
      <p>
        <strong>Tags:</strong>
        <a *ngFor="let tag of post.tags" class="tag-link" (click)="onTagClick(tag)" text="{{ tag }}">{{ tag }}</a>
      </p>
    </section>
  </article>
</div>
