<div class="container-postDetails" *ngIf="post">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/">Posts</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ post?.title }}</li>
    </ol>
  </nav>

  <article>
    <img class="mr-3 img-card-Post" [src]="'data:image/jpeg;base64,' + post.imgCover" [alt]="post.alt || 'Imagem do post'">

    <h1 class="card-title h1-postDetails">
      <span>{{ post?.title }}</span>
    </h1>
    <div class="d-flex justify-content-between align-items-start">
      <div>
        <p class="card-subtitle mb-2 text-muted">
          <i class="">Autor: </i>
          <span>{{ post?.author }}</span>
          <br>
          <i class="">Data de criação: </i>
          <span>{{ formatData(post?.creationDate) }}</span>
        </p>
      </div>
      <div>
        <h5>Compartilhe:</h5>
        <app-share-buttons [title]="post?.title" [url]="currentUrl"></app-share-buttons>
      </div>
    </div>

    <section>
      <p class="card-post">
        <span [innerHTML]="post?.post"></span>
      </p>
      <p>
        <strong>Tags:</strong>
        <a *ngFor="let tag of post.tags" class="tag-link" (click)="onTagClick(tag)" text="{{ tag }}">{{ tag }}</a>
      </p>
    </section>
  </article>

</div>
