<div class="container-dictionary main-content ">
  <form (ngSubmit)="getDictionaryWord(searchWord)" #searchForm="ngForm">
    <h1>Dicionário da Tecnologia</h1>
    <div class="input-group mb-3">
      <input
        type="text"
        name="searchWord"
        [(ngModel)]="searchWord"
        class="form-control"
        placeholder="Pesquise por palavra"
        required
      />
      <button type="submit" class="btn quiz-btn">Pesquisar</button>
    </div>
  </form>
  <div class="card-body" *ngFor="let result of listResult">
    <h2 class="card-title">{{ result.word }}</h2>
    <p class="card-text">{{ result.reference }}</p>
    <p class="card-text"><a href="{{ result.link }}" target="_blank">{{ result.link }}</a></p>
  </div>


</div>
