<div class="container-dictionary">
  <h1>Dicionário da Tecnologia</h1>
  <form (ngSubmit)="getDictionaryWord(searchWord)" #searchForm="ngForm">
    <div class="input-group">
      <!-- Espaço reservado para o anúncio do Google AdSense -->
      <div class="ad-container" id="google-adsense-ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5280935303207200" crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-5280935303207200"
             data-ad-slot="1234567890"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      <input
        type="text"
        name="searchWord"
        [(ngModel)]="searchWord"
        class="form-control me-3"
        placeholder="Pesquise por palavra"
        required />
      <button type="submit" class="btn btn-default">Pesquisar</button>
    </div>
  </form>
  <div class="card-body result-dictionary" *ngFor="let result of listResult">
    <h2 class="card-title">{{ result.word }}</h2>
    <p class="card-text-dictionary">{{ result.reference }}</p>
    <p class="card-text"><a href="{{ result.link }}" target="_blank">{{ result.link }}</a></p>
    <hr>
  </div>
</div>
