<div class=" main-content login login-container container page-wrapper">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="postLogin()" class="login-form">
    <div class="form-group">
      <label for="username">Username:</label>
      <input formControlName="username" type="text" class="form-control" id="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input formControlName="password" type="password" class="form-control" id="password" required>
    </div>
    <div class="form-group d-flex justify-content-end">
      <button type="submit" class="btn quiz-btn">Login</button>
    </div>
  </form>
</div>
<div class="login-signup login-container">
  <p>É novo aqui? <a routerLink="/createdUser">Criar conta</a></p>
</div>
