<div class="share-buttons">
  <a href="{{ getFacebookShareUrl() }}" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-facebook share-icons"></i>
  </a>
  <a href="{{ getTwitterShareUrl() }}" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-twitter share-icons"></i>
  </a>
  <a href="{{ getLinkedInShareUrl() }}" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-linkedin share-icons"></i>
  </a>
  <a href="{{ getInstagramShareUrl() }}" target="_blank" rel="noopener noreferrer">
    <i class="bi bi-instagram share-icons"></i>
  </a>
</div>
