<div class="share-buttons">
  <a href="{{ getFacebookShareUrl() }}" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-facebook-square share-icons"></i>
  </a>
  <a href="{{ getTwitterShareUrl() }}" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-twitter-square share-icons"></i>
  </a>
  <a href="{{ getLinkedInShareUrl() }}" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-linkedin share-icons"></i>
  </a>
  <a href="{{ getInstagramShareUrl() }}" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-instagram share-icons"></i>
  </a>
</div>
