<nav class="navbar fixed-top navbar-expand-lg navbar-dark nav-personalized">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="home">
      <img src="assets/img/logo.svg" alt="Logomarda do blog metodologia-agil" class="logo"></a>
    <button (click)="toggleNavbar()" class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div #navbar class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="home" (click)="toggleNavbar()">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="simulado" (click)="toggleNavbar()">Simulados</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="dictionary" (click)="toggleNavbar()">Dicionário</a>
        </li>
      </ul>
      <form class="d-flex" (ngSubmit)="onFormSubmit()">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" [(ngModel)]="title" name="searchTerm" >
        <button class="btn btn-default-light" type="submit">Buscar</button>
      </form>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item hide-on-mobile" routerLinkActive="active">
          <a class="nav-link link-release" routerLink="release" (click)="toggleNavbar()">
            R-1.0.0 <i class="fas fa-angle-down"></i>
          </a>
        </li>
<!--        <li class="nav-item" routerLinkActive="active">-->
<!--          <a class="nav-link" routerLink="login" (click)="toggleNavbar()">Entrar</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" (click)="postLogout(); toggleNavbar()">Sair</a>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>
