<nav class="navbar fixed-top navbar-expand-lg navbar-dark nav-personalized">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="home">
      <img src="assets/img/logo.svg" alt="Logomarda do blog metodologia-agil" class="logo"></a>
    <button (click)="toggleNavbar()" class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div #navbar class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="home" (click)="toggleNavbar()">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="simulado" (click)="toggleNavbar()">Simulados</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="dictionary" (click)="toggleNavbar()">Dicionário</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  (click)="openModal()">Sobre</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"  (click)="isContactModalOpen = true">Contato</a>
        </li>
      </ul>
      <form class="d-flex" (ngSubmit)="onFormSubmit()">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" [(ngModel)]="title" name="searchTerm" >
        <button class="btn btn-default-light" type="submit">Buscar</button>
      </form>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item hide-on-mobile" routerLinkActive="active">
          <a class="nav-link link-release" routerLink="release" (click)="toggleNavbar()">
            R-1.0.0 <i class="fas fa-angle-down"></i>
          </a>
        </li>
<!--        <li class="nav-item" routerLinkActive="active">-->
<!--          <a class="nav-link" routerLink="login" (click)="toggleNavbar()">Entrar</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" (click)="postLogout(); toggleNavbar()">Sair</a>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>

<!-- ################## Modal About  ######################-->
<ng-template #aboutModal >

  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Quem sou!</h4>
  </div>
  <div class="modal-body" >
    <p>
      Sou um apaixonado por tecnologia, com experiência em atendimento ao cliente e analista de sistema, já atuei
      em diversos projetos, sou graduado em Gestão da Tecnologia da Informação, e pós-graduado em Engenharia de
      Software com foco em metodologias ágeis. Além disso, tenho realizado diversos cursos de especialização e
      busco constantemente aprender mais sobre agilidade para contribuir com soluções inovadoras e eficientes. Além
      de experiência em desenvolvimento em fullstack java, angular e microsserviços com Spring.
      Tenho orgulho em ter contribuído para projetos de sucesso e estou sempre em busca de novos desafios e
      oportunidades
      para aplicar minhas habilidades e conhecimentos.
    </p>
    <button type="button" class="btn btn-default-right" data-bs-dismiss="modal" (click)="closeModal()">Fechar</button>
  </div>
</ng-template>

<!-- ################## Modal Contact  ######################-->
<div *ngIf="isContactModalOpen" class="modal" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Entre em contato</h4>
        <button type="button" class="close" aria-label="Close" (click)="isContactModalOpen = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contactForm" (ngSubmit)="postContactForm()">
          <div class="form-group">
            <label for="contactEmail">E-mail:</label>
            <input type="email" class="form-control contact-w" id="contactEmail" formControlName="contactEmail"
                   placeholder="Digite seu email aqui" required>
            <div *ngIf="contactForm.get('contactEmail')?.errors?.['required'] && contactForm.get('contactEmail')?.touched" class="text-danger">E-mail é obrigatório.</div>
          </div>

          <div class="form-group">
            <label for="contactMessage">Mensagem:</label>
            <textarea class="form-control contact-w" id="contactMessage" formControlName="contactMessage" maxlength="1000"
                      rows="5" placeholder="Digite sua mensagem" required></textarea>
            <div *ngIf="contactForm.get('contactMessage')?.errors?.['required'] && contactForm.get('contactMessage')?.touched" class="text-danger">Mensagem é obrigatória.</div>
            <div *ngIf="contactForm.get('contactMessage')?.errors?.['maxlength'] && contactForm.get('contactMessage')?.touched" class="text-danger">A mensagem pode ter no máximo 1000 caracteres.</div>
          </div>

          <button type="submit" class="btn btn-default-right">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>



