<div class="container-policy page-wrapper">

  <h1>Política de Cookies</h1>

  <p>O site metodologia-agil.com.br usa cookies para garantir que você obtenha a melhor experiência possível.</p>

  <h2>O que são cookies?</h2>

  <p>Cookies são pequenos arquivos de texto que são armazenados no seu computador ou dispositivo móvel quando você visita um site. Eles são amplamente usados para fazer os sites funcionarem ou funcionarem de maneira mais eficiente, bem como para fornecer informações aos proprietários do site.</p>

  <h2>Como usamos cookies?</h2>

  <p>Usamos cookies para entender como os visitantes interagem com nosso site, para que possamos melhorar a experiência do usuário. Também podemos usar cookies para fornecer a você produtos, serviços e conteúdo mais relevantes.</p>

  <h2>Quais tipos de cookies utilizamos?</h2>

  <ul>
    <li><strong>Cookies essenciais</strong>: Alguns cookies são essenciais para que você possa experimentar todas as funcionalidades do nosso site. Eles permitem que você navegue no site e use nossos recursos.</li>
    <li><strong>Cookies de desempenho</strong>: Estes cookies permitem que nós reconheçamos e contabilizemos o número de visitantes do nosso site, bem como ver como os visitantes se movem pelo site quando estão o usando. Isso nos ajuda a melhorar o funcionamento do nosso site.</li>
    <li><strong>Cookies de funcionalidade</strong>: Estes são usados para reconhecer você quando retorna ao nosso site. Isso nos permite personalizar nosso conteúdo para você e lembrar suas preferências.</li>
    <li><strong>Cookies de terceiros</strong>: Utilizamos cookies de terceiros, como Google Analytics, para entender melhor como os visitantes estão usando nosso site, para que possamos melhorá-lo.</li>
  </ul>

  <h2>Como gerenciar cookies?</h2>

  <p>A maioria dos navegadores permite que você recuse a aceitação de cookies e exclua os cookies já armazenados. Os métodos para fazer isso variam de navegador para navegador e de versão para versão. No entanto, você pode obter informações atualizadas sobre o bloqueio e a exclusão de cookies em diferentes navegadores através destes links:</p>

  <ul>
    <li><a href="https://support.google.com/chrome/answer/95647" target="_blank" rel="noopener noreferrer">Chrome</a></li>
    <li><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" target="_blank" rel="noopener noreferrer">Firefox</a></li>
    <li><a href="http://www.opera.com/help/tutorials/security/cookies/" target="_blank" rel="noopener noreferrer">Opera</a></li>
    <li><a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" rel="noopener noreferrer">Internet Explorer</a></li>
    <li><a href="https://support.apple.com/kb/PH21411" target="_blank" rel="noopener noreferrer">Safari</a></li>
    <li><a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy" target="_blank" rel="noopener noreferrer">Edge</a></li>
  </ul>

  <p>Note que a desativação de cookies pode afetar a funcionalidade deste e de muitos outros sites que você visita. Desativar cookies geralmente resultará na desativação de certas funcionalidades e recursos deste site. Portanto, é recomendável que você não desative os cookies.</p>

  <p>Para obter mais informações sobre como usamos, armazenamos e mantemos seus dados pessoais seguros, veja nossa <a href="URL_DA_SUA_POLITICA_DE_PRIVACIDADE" target="_blank" rel="noopener noreferrer">Política de Privacidade</a>.</p>


</div>
