<div class="d-flex" id="wrapper">
  <!-- Menu lateral -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Painel de administração</div>
    <div class="list-group list-group-flush">
      <button class="list-group-item list-group-item-action" (click)="openForm('post')">Criar postagem</button>
      <button class="list-group-item list-group-item-action" (click)="openForm('dictionary')">Criar dicionário</button>
      <button class="list-group-item list-group-item-action" (click)="openForm('quiz')">Criar quiz</button>
      <button class="list-group-item list-group-item-action" (click)="openForm('dashboard')">Dashboard</button>
    </div>
  </div>

  <!-- Conteúdo principal -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1>Painel de administração</h1>

      <!-- Formulário para criar postagens -->
      <div *ngIf="formOpen === 'post'">
        <h2>Criar postagem</h2>


      </div>

      <!-- Formulário para criar dicionários -->
      <div *ngIf="formOpen === 'dictionary'">
        <h2>Criar dicionário</h2>
        <form>
          <!-- Campos do formulário para criar dicionários -->
        </form>
      </div>

      <!-- Formulário para criar quizzes -->
      <div *ngIf="formOpen === 'quiz'">
        <h2>Criar quiz</h2>
        <form>
          <!-- Campos do formulário para criar quizzes -->
        </form>
      </div>

      <!-- Dashboard -->
      <div *ngIf="formOpen === 'dashboard'">
        <h2>Dashboard</h2>
        <!-- Conteúdo do dashboard -->
      </div>
    </div>
  </div>
</div>
