<div class="container container-quiz">
  <div class="quiz-btn-container centered" *ngIf="showClock && secondsRemaining > 0">
    <button class="quiz-btn-container" (click)="startQuiz()">
      {{ !quizStarted ? 'Iniciar Simulado' : 'Tempo restante: ' + countdown }}
    </button>
    <div *ngIf="quizStarted" class="skipped-questions-container">
      <p>Questões puladas:</p>
      <button *ngFor="let skippedIndex of skippedQuestions" (click)="goToQuestion(skippedIndex)"
              class="btn btn-secondary btn-sm">
        {{ skippedIndex + 1 }}
      </button>
    </div>
  </div>
  <div class="questions-container">
    <ng-container *ngIf="quizStarted">
      <h1>Simulado</h1>
      <form>
        <div *ngFor="let question of questions; index as i" [attr.id]="'question-' + i">
          <h4 class="title-simulator">{{ i + 1 }}. {{ question.question }}</h4>
          <button *ngIf="!questions[i].skipped" (click)="skipQuestion(i)" class="btn btn-info btn-skip">Pular</button>
          <div *ngFor="let option of ['A', 'B', 'C', 'D']">
            <ng-container *ngIf="question['option' + option.toUpperCase()] !== null">
              <input
                class="form-check-input input-quiz"
                type="radio"
                name="{{ question.questionId }}"
                id="{{ question.questionId }}{{ option }}"
                value="{{ option }}"
                [(ngModel)]="question.selectedAnswer"
                (change)="answerQuestion(i)"
                required
              />
              <label class="form-check-label" for="{{ question.questionId }}{{ option }}">
                {{ option }}) {{ question['option' + option.toUpperCase()] }}
              </label>
            </ng-container>
          </div>
        </div>
      </form>
      <button
        type="button"
        class="btn btn btn-default"
        (click)="submitQuiz()">Enviar</button>
    </ng-container>
    <div *ngFor="let question of questions; index as i" [ngClass]="{'hidden': !showResults}">
      <h4 *ngIf="question.incorrect" class="text-danger">{{ i + 1 }}. {{ question.question }}</h4>
      <p *ngIf="question.incorrect" class="explanation">{{ question.explanation }}</p>
    </div>
  </div>
</div>
<!-- ############### Modal ################-->
<div class="modal" tabindex="-1" [ngClass]="{'show': showResults, 'd-block': showResults, 'd-none': !showResults}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Resultado do Simulado</h5>
        <button type="button" class="close" (click)="showResults = false;">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ resultMessage }}</p>
        <div *ngFor="let question of incorrectQuestions; index as i" [attr.id]="'incorrect-question-' + i">
          <h4>{{ i + 1 }}. {{ question.question }}</h4>
          <p class="explanation">{{ question.explanation }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="quiz-btn-container" (click)="showResults = false;">Fechar</button>
      </div>
    </div>
  </div>
</div>
