<div class="container-politica page-wrapper">
  <h1>Política de privacidade e segurança</h1>
  <p>Esta política de privacidade e segurança se aplica a todos os serviços e
    sites disponibilizados pelo nosso sistema. Se você tiver alguma dúvida sobre esta política, entre em contato conosco por meio do formulário de contato.
  </p><br>
  <h2>Compromisso com a privacidade</h2>
  <p>No Blog Agil, estamos comprometidos com a sua privacidade e proteção dos seus dados pessoais. Esta política de privacidade descreve como coletamos, utilizamos e divulgamos suas informações pessoais. Trabalhamos para manter a transparência em nossa relação com nossos usuários e garantir a segurança de seus dados.
  </p><br>
  <h2>Coleta de dados pessoais</h2>
  <p>Nos do blog Agil coleta informações pessoais das seguintes formas:<br><br>
    A) Informações fornecidas pelo usuário<br><br>
    Coletamos informações de identificação pessoal (como nome, e-mail, etc.) por meio do preenchimento de formulários para envio de newsletters, informativos ou no momento do download de material gratuito.<br><br>
    Além disso, no momento da finalização de transação comercial, coletamos dados adicionais, como CPF, telefone de contato e número de cartão de crédito.<br><br>
    B) Coleta de dados de navegação<br><br>
    Utilizamos o Google Analytics (por meio de cookies) para coletar dados de navegação, como navegador, sistema operacional e endereço IP. Também analisamos o comportamento dos usuários, registrando informações como conteúdo visitado, tempo de navegação, cliques e outras ações que nos ajudam a melhorar nossos serviços.<br><br>
    Utilizamos pixels de conversão do Facebook Ads e Google Adwords para monitorar as ações realizadas com marketing digital. Assim, usamos as métricas fornecidas por essas plataformas para aprimorar o conteúdo a ser disponibilizado aos usuários.<br><br>
    Ao utilizar o site, você concorda com a coleta de dados de navegação.</p>
  <h2>Uso e divulgação de informações</h2>
  <p>Envio de notificações e/ou e-mail marketing: utilizamos este canal para enviar conteúdo segmentado sobre treinamentos, coaching, artigos e novidades no mundo da agilidade.
    Realização de transações comerciais: no caso de fornecimento de dados de cartão de crédito ou débito, com o objetivo de conclusão de compra. Nós utiliza essas informações exclusivamente para processar o pagamento em questão, não armazenando-as em nossa base de dados.
    Em caso de ordem de autoridade pública requerendo acesso às informações armazenadas, o usuário será notificado para que possa requerer as medidas adequadas de defesa.
    Segurança das informações

    Nos do blog Agil adota medidas de segurança adequadas para proteger os dados armazenados contra o acesso não autorizado e eventuais perdas. Restringimos o acesso às informações somente às pessoas que precisam delas para prestar suporte aos usuários ou melhorar nossos serviços. Essas pessoas estão sujeitas a acordos de confidencialidade e podem sofrer sanções disciplinares e legais caso não cumpram com essas obrigações.
  </p><br>
  <h2>Cancelamento</h2>
  <p>Caso você não deseje mais receber informações sobre agilidade, treinamento e coaching, com base nas informações pessoais, é possível solicitar a sua exclusão. Entre em contato conosco pelo e-mail contato@metodologia-agil.com.br.</p>

</div>
