<main class="container-card">
  <div class="row">
    <div *ngFor="let post of listPosts" class="home-card">
      <div class="card home-card">
        <a [routerLink]="['/postDetails', post.postId]" class="no-underline">
          <img class="mr-3 img-post" [src]="post.imgCover" [alt]="post.alt || 'Imagem do post'">
          <h1 class="card-title">{{ post.title }}</h1>
        </a>

        <div class="card-body">
          <p class="card-text">{{ post.description }}</p>
          <p><strong>Tags:</strong>
            <a *ngFor="let tag of post.tags" class="tag-link" (click)="onTagClick(tag)" text="{{ tag }}">{{ tag }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
