<main class="container-card">
  <div class="row">
    <div *ngFor="let post of listPosts" class="home-card">
      <div class="card home-card">
        <a [routerLink]="['/postDetails', post.postId]" class="no-underline">
          <img class="mr-3 img-card" [src]="'data:image/jpeg;base64,' + post.imgCover" [alt]="post.alt || 'Imagem do post'">
          <h1 class="card-title">{{ post.title }}</h1>
        </a>

        <div class="card-body">
          <p class="card-text">{{ post.description }}</p>
          <p><strong>Tags:</strong>
            <ng-container *ngFor="let tag of post.tags; let i = index">
              <a *ngIf="i < 2" class="tag-link" (click)="onTagClick(tag)" text="{{ tag }}">{{ tag }}</a>
            </ng-container>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
