<main class="container-card page-wrapper">
  <div class="row">
    <div class="col-md-3" *ngFor="let post of listPosts">
      <div class="card home-card">
        <a [routerLink]="['/postDetails', post.postId]">
<!--          <img class="mr-3 img-post" src="'data:image/jpeg;base64,' + ${post.image.imageMin}"-->
<!--               alt="Imagem de capa do card">-->
          <div class="img-card"><img class="card-img-top" src="{{ post.imgUrl }}" alt="Card image cap"></div>
          <h1 class="card-title"> {{ post.title }} </h1></a>

        <div class="card-body">
          <p class="card-text">{{ post.description }}</p>
          <p><strong>Tags:</strong>
            <a *ngFor="let tag of post.tags" class="tag-link" (click)="onTagClick(tag)" text="{{ tag }}">{{ tag }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
